# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs/DesignPatternsForEmbeddedInC
/DesignPatternsForEmbeddedInC.vcxproj
/DesignPatternsForEmbeddedInC.vcxproj.filters
/DesignPatternsForEmbeddedInC.vcxproj.user
/Chapter1/CachedQueue/x64/Debug
/Chapter1/Queue/.vs/Queue/FileContentIndex
/Chapter1/Queue/.vs/Queue/v17/ipch/AutoPCH
/Chapter1/Queue/x64/Debug/Queue.tlog
/Chapter1/Queue/.vs/Queue/v17
/Chapter1/Queue/x64/Debug
/Chapter1/Sensor/x64/Debug
/OOPInnC/CachedQueue/x64/Debug
/OOPInnC/Queue/.vs/Queue
/OOPInnC/Queue/x64/Debug
/OOPInnC/Sensor/x64/Debug
/OOPInC/CachedQueue/x64/Debug
/OOPInC/Queue/.vs/Queue
/OOPInC/Queue/x64/Debug
/OOPInC/Sensor/x64/Debug
/ECGModule/x64/Debug
/ECGModulev2/x64/Debug
